{% extends "base/generic_base.html" %}

{% block title %}Confirm logout | {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_align_middle{% endblock %}

{% block body %}

<section class="align-middle">

  {% if form.non_field_errors %}
  <div class="has-error">
    {% for x in form.non_field_errors %}
    <p class="help-block">{{ x }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <form
    method="POST"
    class="form-horizontal text-center"
    action=""
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
  >
    {% csrf_token %}

    <button type="submit" class="btn btn-primary btn-lg">
      Confirm logout
    </button>
  </form>

</section>

{% endblock %}
