Django==1.9.5
django-email-from-template==2.0.0
django-keyerror==2.1.3
python-memcached==1.57
django-enumfield==1.3b2
psycopg2==2.6.1
django-staticfiles-dotd==1.3.1
https://github.com/lamby/django-setuptest/zipball/django-1.9-support#egg=django-setuptest
gunicorn==19.4.5
django-template-tests==1.1.0
pyScss==1.3.4
django-autologin==0.0.5
django-slack==5.2.1
python-social-auth==0.2.14
requests==2.9.1
progressbar==2.3
